html,
body {
  margin: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  width: 100%;        /* fills the width of the body container */
  height: 600px;      /* fixed height so it displays */
  margin-top: 1em;    /* space from heading */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}